.dark-mode-button {
  border-radius: 20px;
  background: #4a4a4a;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #dadada;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  transition: all ease 0.2s;
  outline-color: #36363685;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 30px;
}
@media (max-width: 769px) {
  .dark-mode-button {
    display: flex;
    width: 90px;
    justify-content: center;
    position: absolute;
    z-index: 100;
    margin-right: 15px;
  }
}
